@import
"settings";

@import
"~minx/src/settings",
"~minx/src/functions",
"~minx/src/mixins",
"~minx/src/reset",
"~minx/src/elements";

@import
"grid",
'button',
"sign-in",
"notification",
"task-filters",
"task-form",
"task-item",
"task-list";



/* 1. Vendors */
@import '_normalize';

/* 2. Configuration and helpers */
@import '_variables';
@import '_helpers';

/* 3. Base stuff */
@import '_base';
@import '_typography';

/* 4. Layout-related sections */
@import '_header';
@import '_footer';

/* 5. Components */
@import '_buttons';
@import '_home';
@import '_form-page';
@import '_form';
@import '_nav';
@import '_loading-indicator';
/*This file contains very basic styles.*/

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-top: $nav-height;
  //background-color: $background-color;
  padding-bottom: 120px;
  background-image: url("http://www.cmmconstruction.com/images/cmm%20home%20badge.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

body.js-open-sans-loaded {
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

.hide {
  display: none !important;
}

::selection {
  background: rgba(200,200,255,.1);
}

.cmmwood {
  background-image: url("http://www.cmmconstruction.com/images/wood%203%20edit.jpg");
}
